 
body {  font-family: 'Poppins', sans-serif; background: #f2f4f4 }
img { max-width: 100% }
.border-bottomdashed { border-bottom: #e1e5e8 thin dashed}

.containerBox { padding: 35px 40px 20px}
.head-section h2 { font-size: 34px; font-weight: 600; color: #f47735}
.head-section h2 span { font-weight: 400; color: #f4a335}
.head-section h5 { font-size: 22px; font-weight: 400; color: #000000; margin-bottom: 3px;}
.head-section p { font-size: 16px; font-weight: 300; color: #7d7c7c}

.bg-img{ background: url(../files/university-bgmain.jpg) no-repeat right; width: 100%;  background-size: cover; }

.curve-box { background: #fff; box-shadow: 0px 3px 9.4px 0.6px rgba(0, 0, 0, 0.13); height: 90px;  border-radius: 7px; padding: 10px 0 0; margin-top: 25px; margin-bottom: 15px;  transition: all 400ms ease-in-out}
.head-img { background: #f2f4f4; border-radius: 50%; box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06); width: 71px; height: 71px; line-height: 65px; margin: 0 auto; margin-top: -35px; border: #fff 3px solid;}
.curve-box p {  font-size: 12px; font-weight: 600; margin-bottom: 0; margin-top: 12px; color: #000 }

footer { background: #d9dbdb; padding: 10px; text-align: center}
footer p { font-size: 11px; font-weight: 400; color: #010101; margin-bottom: 0}

.dsmnruaction a { display: block; color: #000; text-decoration: none; }
.dsmnruaction a:hover .curve-box  { background: #f4a335; color: #000; transition: all 400ms ease-in-out}
.dsmnruaction a:hover p  { color: #fff}

@media screen and (max-width: 575px) {
	.containerBox { padding: 20px 0 0}
	.head-section h2 { font-size: 20px; } 
	.head-section h5 { font-size: 16px; }
	.head-section p { font-size: 12px; }
	.head-img { width: 50px; height: 50px; line-height: 45px; }
	.head-img img { height: 30px  }
	.curve-box p { font-size: 11px; margin-top: 8px;}
	.curve-box { height: 60px; margin: 10px 0 20px; }
	.bg-img { background-position: top;}
}